/SOP_data
/build
/results_paper_SOP
*.pyc
/animation/3D_L256_nc4_rho0.25_k1.0e-06_Nt3000/positions_vs_time
/shells/data_*
*.zip
*.csv
*.gif
/animation
/network
/results

shells/*.sh
!shells/run_all.sh
shells/after/
